* {
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.graphContainer {
    background-color: white;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
    width:690px;
    height:600px;
    padding:65px;
    border: solid 1px black;
    h1 {
        margin: 0 auto;
    }
}

body {
    width:100vw;
    height:100vh;
    background-color: gray;
}

.bar:hover {
    fill:red;
}

#tooltip {
    position:absolute;
    display:flex;
    justify-content: center;
    width:160px;
    height: 55px;
    background-color: red;
    opacity: 0;
    color:black;
    border-radius: 25px;
    flex-direction: column;
    padding:5px;
    font-weight: 600;
    font-size: medium;
    border: 1px solid black;
}

#dataSource {
    position: relative;
    top: 480px;
    left:79px;
}