* {
    overflow: hidden;
}

svg {
    // border:solid 1px black;
}

.graphContainer {
    background-color: white;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
    width:680px;
    height:550px;
    padding:30px;
    border: solid 1px black;
    h1 {
        margin: 0 auto;
    }
}

body {
    width:100vw;
    height:100vh;
    background-color: gray;
}

.bar {

}

.bar:hover {
    fill:red;
}

#tooltip {
    width:55px;
    height: 35px;
    background-color: red;
    opacity: 0;
   
}